<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Document999</title>
</head>
<body>

    <h1>Болибок Олег</h1><br>
    <img src="my_beautiful_screen).jpg" width="400" height="500"><br>
<!--    <img src="https://vk.com/olejjon_123?z=photo139959578_457249435%2Falbum139959578_0%2Frev" width="400" height="500"><br>-->
    <h2>Привет, я <a href="https://vk.com/olejjon_123">Олег</a>, а это моя страница!</h2>
    <div>
    <p>Здесь я буду публиковать <del>свои стихи и рассказы</del> свой код и ссылки на GitHub.</p>
        <p>Еще <em>тут</em> вы сможете найти рисунки, которые я <strong>иногда</strong> делаю.</p>
    <p>Сразу <ins>скажу,</ins> рисунки у меня так себе<mark>, потому что я не учился в художке в школе, а бегал, играл в футбол).</mark></p>
    </div>

</body>
</html>